label,input{
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}

input{
    margin: 1rem;
}

p{
    font-size: 25px;
    font-weight: 500;
}

.rf-submit{
    border: 1px solid rebeccapurple;
    width: 10%;
    padding: 20px;
    border-radius: 20px;
    background-color: rebeccapurple;
    color: #fff;
    margin: 10px;
}